@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Playfair+Display:wght@600&display=swap");
* {
  font-family: "Karla", sans-serif;
  list-style: none;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

.color-lila {
  color: #9e66ff;
}

header {
  font-size: 20px;
  background-color: white;
}
header .miHeader {
  display: flex;
  justify-content: between;
  align-items: center;
}
header .miLogo {
  grid-area: logo;
  justify-self: center;
}
header .miLogo .imagen {
  width: 80px;
}
header .navbar-light .navbar-nav .nav-link {
  color: #9e66ff;
}
header .navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #3e0b7d;
}

.imgFondo {
  background-image: url(../assets/img/pexels.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.uxFondo {
  background-color: #cab4fa;
}

main {
  background-color: #9e66ff;
  /*contacto*/
}
main .contactame {
  background-color: #9e66ff;
}
main .miPresentacion {
  background-color: #3e0b7d;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .miPresentacion .miNombre {
  font-size: 4rem;
  align-self: center;
  justify-self: center;
}
main .titulo {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}
main .tamanio100, main .contenedor img, main .contenedor {
  width: 100%;
  height: 100%;
}
main .contenedor {
  position: relative;
  overflow: hidden;
}
main .contenedor img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
main .contenedor:hover img {
  transform: scale(1.3);
  filter: initial;
}
main input[type=email]:valid {
  border: 2px solid #3e0b7d;
  background: #cab4fa;
}
main .span.navbar-toggler-icon {
  color: #3e0b7d;
}
main .botonConfirmar {
  background-color: #9e66ff;
  border-color: #9e66ff;
}
main .form-control:focus {
  border-color: #3e0b7d;
  box-shadow: 0 0 0 0.25rem #cab4fa;
}

.parrafoIndex {
  margin: 0px 70px 0px 70px;
}

.sobremiIndex {
  padding: 20px;
}

/*UX/UI*/
.imagenesUX {
  width: 200px;
}

@media (max-width: 780px) {
  .imgHuellitas {
    width: 100%;
    height: auto;
  }
}
/*Comic*/
.carrusel {
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 20px;
  background-color: #cab4fa;
}

/*ilustraciones*/
.imgFluido {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.videoYoutube {
  width: 315px;
  height: 177px;
}

@media (min-width: 780px) {
  .videoYoutube {
    width: 560px;
    height: 315px;
  }
}
.color-negro {
  color: #000;
}

/* Ajusta el color de las flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) !important;
}

footer {
  background-image: linear-gradient(to top, #9e66ff, #864fdd, #6d39bc, #56239c, #3e0b7d);
  font-size: 18px;
}

.botonTransicion {
  font-size: 22px;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.botonTransicion:hover {
  transform: translateY(-5px);
}/*# sourceMappingURL=estilos.css.map */