main {
    background-color: map-get($colores, lila);
    .contactame {
        background-color: map-get($colores, lila);
    }
    .imgFondo {
        background-image: url(../assets/img/pexels.webp);
        @include backgroundPropio  (cover);
    }
    .miPresentacion {
        background-color: map-get($colores, violeta);
            height: 90vh;
            text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000;
            .miNombre {
                font-size: 4rem;
                align-self: center;
                justify-self: center;
            }
}
.w-25 {
    object-fit: cover;
}
/*contacto*/
input[type="email"]:valid {
    border: 2px solid map-get($colores , violeta);
    background: map-get($colores , lilaClaro);
  }
.span.navbar-toggler-icon {
    color: map-get($colores, violeta);
}
.botonConfirmar {
    background-color: map-get($colores ,lila );
    border-color: map-get($colores, lila);
}
.form-control:focus {
    border-color: map-get($colores, violeta );
    box-shadow: 0 0 0 0.25rem map-get($colores , lilaClaro);}
    }

/*UX/UI*/
.imagenesUX {
    width: 200px;
}

.carrusel {
    justify-content: center;

    margin-bottom: 40px;
    padding-top: 20px;
    background-color: map-get($colores , lilaClaro) ;
}

.contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}
.contenedor:hover img {
    transform: scale(1.3);
    filter: initial;
}

.imgFluido {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.videoYoutube {
    width: 315px;
    height: 177px;
}

@media (min-width: 780px) {
    .videoYoutube {
        width: 560px;
        height: 315px;
    }
 
}