@mixin backgroundPropio ($size) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: $size;
}

@mixin flexJustify ($valor) {
    display: flex;
    justify-content: $valor;
    align-items: center;
}